<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaPresentacion.Properties.Settings.dbventasConnectionString"
            connectionString="Data Source=DESKTOP-ET78VFO;Initial Catalog=dbventas;User ID=sa;Password=LaseRjet1020"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>